version: "3.9"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: fastapi-backend
    command: uvicorn app:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
      - shared-storage:/shared
    user: "${UID}:${GID}"
    depends_on:
      - redis
    env_file:
      - .env

  worker:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: celery-worker
    working_dir: /app
    volumes:
      - ./backend:/app
      - shared-storage:/shared
    user: "${UID}:${GID}"
    command: python -m debugpy --listen 0.0.0.0:5678 --wait-for-client -m celery -A tasks.celery worker --loglevel=info
    depends_on:
      - redis
    env_file:
      - .env
    ports:
      - "5678:5678"

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

volumes:
  shared-storage:
