version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: fastapi-backend
    command: uvicorn app:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
      - shared-storage:/shared
    depends_on:
      - redis
    env_file:
      - .env

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  worker:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: celery-worker
    working_dir: /app
    volumes:
      - ./backend:/app
      - shared-storage:/shared
    command: celery -A tasks.celery worker --loglevel=info
    depends_on:
      - redis
    env_file:
      - .env

volumes:
  shared-storage:
