#root {
	width: 100%;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	min-height: 100vh;
	position: relative;
	background:
		linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
		url("/src/assets/mona_lisa_bg.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}
